header {
    background:grey;
    min-height:40px;
}

main {
    text-align: center;
}

.board-parent{
    display: inline-block;
    padding: 10px;
}

.row {
    overflow:hidden;
}

.cell {
    min-height:40px;
    min-width:40px;
    float:left;
}

.ship {
    background-color: grey;
}

.hit {
    background-color: red;
}

.miss {
    background-color: rgb(194, 194, 194);
}

.row:nth-child(2n) .default:nth-child(2n){
    background-color:rgb(47, 58, 211);
}

.row:nth-child(2n) .default:nth-child(2n-1){
    background-color:rgb(52, 163, 207);
}

.row:nth-child(2n-1) .default:nth-child(2n){
    background-color:rgb(52, 163, 207);
}

.row:nth-child(2n-1) .default:nth-child(2n-1){
    background-color:rgb(47, 58, 211);
}
