header {
    background:grey;
    min-height:30px;
}

.board-parent{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.row {
    overflow:hidden;
}

.cell {
    min-height:30px;
    min-width:30px;
    float:left;
}

.cell.ship {
    background-color: grey !important;
}

.cell.hit {
    background-color: red !important;
}

.cell.miss {
    background-color: rgb(194, 194, 194) !important;
}

.row:nth-child(2n) .cell:nth-child(2n){
    background-color:rgb(47, 58, 211);
}

.row:nth-child(2n) .cell:nth-child(2n-1){
    background-color:rgb(52, 163, 207);
}

.row:nth-child(2n-1) .cell:nth-child(2n){
    background-color:rgb(52, 163, 207);
}

.row:nth-child(2n-1) .cell:nth-child(2n-1){
    background-color:rgb(47, 58, 211);
}