body {
    background-color: aquamarine; /*Background color of splash screen set to aquamarine */
    width: 1366px; /*setting the width of the screen to 1366px-according to Assignment 3*/
    /*margin: auto;*/
}

h1 {
    color: black; /*Header 1 should be black*/
    position:absolute; /*the position of header 1 is set to absolute*/
    top:10%;  
    left:50%; 
    transform: translate(-50%, -50%);
}

img {
    position:absolute;
    top:40%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
  a.button {
  background-color: Yellow; 
  border: none; /*The button does not have any border */
  color: black;
  padding: 15px 32px;
  text-align: center; /* the text inside the button is aligned in its center */ 
  display: inline-block; /* display the button horizontally */
  font-size: 32px; /* The size of the text inside the button */
 
}
  a:hover, a:active {
  background-color: yellow;
}

a { /* Position of the button */
    position:absolute;
    top:40%;
    left:50%;
    transform: translate(-50%, -50%);
}

a:hover, a:active {
  background-color: greenyellow;
}

h1 {
    color: black;
    text-align: center;
}

h3 {
    color: black;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

ol{
    color: black;   
    position: absolute;
    min-width: 600px;
    min-height: 300px;
    overflow: hidden;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

li {
    color: black;
    text-align: left;
}


a:hover, a:active {
    background-color: yellow;
    color: black;
}

a.button{
    background-color: green;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 22px; 
    margin:auto;
    display:block; 
  }

ol{
 color: black;   
 text-align: center;
}
